.Wrapper {
  border: 1px solid #ddd;
  border-radius: 2px;

  padding: 10px 20px 20px 20px;
  margin: 15px auto 75px auto;

  font-size: 14px;

  h3 {
    text-align: center;
    margin: 0 0 15px 0;
    font-size: 18px;
  }

  hr {
    opacity: 0.3;
    margin: 20px auto;
  }

  code {
    display: block;
    margin-bottom: 20px;
  }
}
