.Wrapper {
  $selectBorder: #151515;

  :global {
    .SelectWrapper {
      display: inline-block;
    }

    .Select {
      font-size: 12px;
      width: 150px;
      display: inline-block;
    }

    .is-focused > .Select-control {
      border-color: $selectBorder;
      box-shadow: none;
    }

    .is-focused:not(.is-open) > .Select-control {
      border-color: $selectBorder;
      box-shadow: none;
    }

    .Select-placeholder {
      line-height: 24px!important;
    }

    .Select-control {
      height: 24px;
      border-radius: 2px;
    }

    .Select-value {
      line-height: 24px!important;
    }

    .Select-input {
      height: 24px;
    }

    .Select-arrow-zone {
      padding-top: 2px;
    }

    .Select-menu-outer {
      z-index: 10;
    }

    .LogicInputWrapper {
      display: inline-block;
      width: 150px;
    }
  }
}
